.footer {
  margin-top: calc(var(--mantine-spacing-xl) * 3);
  border-top: 1px solid var(--border);
  padding: var(--mantine-spacing-xl) 0;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mantine-spacing-md);
  align-items: center;
  justify-content: space-between;
}
